@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --light-blue-100: #F3F5FC;
    --white: #FFFFFF;
    --dark-blue-300: #0A3871;
    --color-gray: #D8DFE8;
    --gray-500: #343A40;
    --gray-400: #495057;
    --fuente-inter: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-blue-100);
}

.main {
    padding: 40px;
    display: flex;
    gap: 80px;
}

.main__logo {
    width: 120px;
    height: 48px;
}

.main__interfaz {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 290px;
}

.main__interfaz__entrada {
    background-color: var(--light-blue-100);
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 2rem;
    color: var(--dark-blue-300);
    border: none;
    resize: none;
    height: 400px;
    width: 680px;
}

.main__interfaz__entrada:focus{
    outline: none;
}

.main__interfaz__utilidades {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main__interfaz__utilidades__guia {
    display: flex;
    font-size: 12px;
    gap: 8px;
    color: var(--gray-400);
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 0.75rem;
}

.main__interfaz__utilidades__opciones {
    display: flex;
    gap: 24px;
}

.main__interfaz__utilidades__opciones__boton {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--dark-blue-300);
    color: var(--white);
    border-color: var(--dark-blue-300);
    border-style: solid;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 1rem;
}

.main__interfaz__utilidades__opciones__boton:hover{
    background-color: var(--gray-400);
}

#btnDesencriptar {
    background-color: var(--color-gray);
    color: var(--dark-blue-300);
}

#btnDesencriptar:hover {
    color: var(--white);
    background-color: var(--gray-400);
}

.main__mensaje {
    width: 368px;
    height: 912px;
    background-color: var(--white);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.main__mensaje__inicial {
    display: flex;
    margin: 0;
}

.main__mensaje__inicial__imagen {
    width: 336px;
    height: 304px;
}

.main__mensaje__inicial__texto {
    display: flex;
    flex-direction: column;
    width: 336px;
    text-align: center;
    font-family: var(--fuente-inter);
    font-weight: 700;
    font-size: 1.5rem;
    gap: 16px;
    color: var(--gray-500);
}

.main__mensaje__inicial__texto p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray-400);
}

.main__mensaje__encriptado__texto {
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 2rem;
    resize: none;
    width: 336px;
    height: 730px;
}

.main__mensaje__encriptado__opciones {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main__mensaje__encriptado__opciones__boton {
    width: 336px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--white);
    color: var(--dark-blue-300);
    border-color: var(--dark-blue-300);
    border-style: solid;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 1rem;
}

.main__mensaje__encriptado__opciones__boton:hover{
    background-color: var(--dark-blue-300);
    color: var(--white);
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    background-color: var(--gray-500);
}

.footer__enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footer__enlaces__links{
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;

    color: var(--white);
}

.footer__enlaces__links:hover{
    background-color: var(--gray-400);
}

@media (max-width: 968px){
    .main{
        flex-direction: column;
        
    }
    .main__mensaje{
        padding: 32px 0;
        height: auto;
    }
    .main__mensaje__inicial__imagen{
        display: none;
    }
    .main__mensaje__encriptado__texto{
        height: auto;
    }
}

@media (max-width: 980px){
    .main{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .main__interfaz{
        align-self: baseline;
        height: auto;
        width: 100vw;
    }
    .main__mensaje{
        padding: 32px 0;
        height: auto;
        width: 100vw;
    }
    .main__mensaje__inicial__imagen{
        display: none;
    }
    .main__mensaje__encriptado__texto{
        height: auto;
    }
    .footer__enlaces{
        flex-direction: column;
    }

}