
:root{
    --light-blue-100: #F3F5FC;
    --white: #FFFFFF;
    --dark-blue-300: #0A3871;
    --color-gray: #D8DFE8;
    --gray-500: #343A40;
    --gray-400: #495057;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--light-blue-100);
}

.desencriptador{
    padding: 40px;
    display: flex;
    gap:80px;
}

.desencriptador__logo{
    width: 120px;
    height: 48px;
}

.desencriptador__interfaz{
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desencriptador__interfaz__input{
    background-color: var(--light-blue-100);
    font-size: 2rem;
    color: var(--dark-blue-300);
    border: none;
}

.desencriptador__interfaz__guia{
    display: flex;
    font-size: 12px;
    gap: 8px;
    color: var(--gray-400);
}

.desencriptador__interfaz__opciones{
    display: flex;
    gap: 24px;   
}

.desencriptador__interfaz__opciones__boton{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--dark-blue-300);
    color: var(--white);
}

#btnDesencriptar{
    background-color: var(--color-gray);
    color: var(--dark-blue-300);
}

.desencriptador__resultado{
    width: 400px;
    height: 944px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 32px;
    gap: 32px;
}

.desencriptador__resultado__imagen{
    width: 336px;
    height: 304px;
}

.desencriptador__resultado__texto{
    display: flex;
    flex-direction: column;
    width: 336px;
    text-align: center;
    font-size: 1.5rem; 
    gap: 16px;  
    color: var(--gray-500); 
}

.desencriptador__resultado_texto p{
    font-size: 1rem;
    color: var(--gray-400);
}